{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/paths.jpg' %}" alt="" style="margin-top: 3rem; ">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper"></span>
              <span class="section-heading-lower">Nuestra historia</span>
            </h2>
            <p style="text-align: justify;">Todo comenzó después de leer el libro "Outwitting the Devil" de Napoleon Hill. Inspirado por las enseñanzas y las profundas revelaciones de este libro, "mente.energia" se creó en 2021 con la misión de compartir conocimientos sobre el bienestar emocional, físico y mental, fundamentados en la filosofía estoica. Dedicada a proporcionar contenido que ayuda a las personas a enfrentar los desafíos de la vida con serenidad y fortaleza.</p>
            
            <span class="section-heading-lower small"><strong>PRIMEROS PASOS</strong></span>
            <p style="text-align: justify;">El inicio se centró en los conceptos básicos del estoicismo, una <b>filosofía antigua que promueve la sabiduría, el coraje, la justicia y la templanza.</b> A medida que crecía la audiencia, "mente.energia" amplió su enfoque para incluir consejos prácticos sobre cómo aplicar estos principios en la vida diaria.</p>
            
            <span class="section-heading-lower small"><strong>EVOLUCIÓN Y CRECIMIENTO</strong></span>
            <p style="text-align: justify;">Con el tiempo, "mente.energia" diversificó su contenido para abarcar una amplia gama de temas relacionados con el bienestar. Las publicaciones comenzaron a incluir meditaciones diarias, ejercicios de reflexión, prácticas de mindfulness y estrategias para mantener un estilo de vida saludable. Cada post está diseñado no solo para informar, sino también para motivar a los seguidores a adoptar una mentalidad positiva y proactiva. Ahora, "mente.energia" se está expandiendo para ofrecer diferentes servicios como consultas con nutricionistas y psicólogos, proporcionando un apoyo integral para el bienestar de sus seguidores.</p>
            
            <span class="section-heading-lower small"><strong>COMUNIDAD</strong></span>
            <p style="text-align: justify;">Una de las tareas más importantes de @mente.energia es crear una comunidad de apoyo. Los seguidores no solo encuentran contenido inspirador, sino que también interactúan activamente con el perfil, compartiendo sus experiencias y progresos personales. Esta interacción ha creado una red de individuos que se apoyan mutuamente en su viaje hacia el bienestar integral.</p>
            
            <span class="section-heading-lower small"><strong>FUTURO</strong></span>
            <p style="text-align: justify;">"Mente.energia" ha logrado impactar positivamente la vida de sus seguidores, ayudándoles a encontrar paz y propósito. Con planes de expandir su alcance y ofrecer nuevos recursos, "mente.energia" sigue comprometido con su objetivo de inspirar y guiar a más personas en su camino hacia una vida plena y significativa.</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}