{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<br>
<br>
<!-- Cabecera -->
<header class="masthead" style="background-image: url('{% static 'core/img/clouds.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <br>
          <h1 style="text-align: center;" > Mente.Energia</h1>
          <p style="text-align: center;">Transforma tu vida con la filosofía estoica y el bienestar integral</p>
        </div>
      </div>
    </div>
  </div>
</header>

<br>

<!-- Sección About -->
<section id="about">
  <div class="container"> 
    <div class="intro-text bg-faded p-5 rounded">
      <h2 class="section-heading mb-4">
        <span class="section-heading-upper">Bienvenido a</span>
        <span class="section-heading-lower small">Mente.Energia</span>
      </h2>
      <p class="mb-3" style="text-align: center;">En <strong>Mente.Energia</strong>, estamos dedicados a ayudarte a encontrar el equilibrio y la paz interior a través de la filosofía estoica y prácticas de bienestar. Nuestro contenido está diseñado para inspirarte y guiarte en tu camino hacia una vida más consciente y saludable.</p>
      <a class="btn btn-primary btn-xl" href="{% url 'nosotros:nosotros_list' %}">Conócenos</a>
    </div>
  </div>
</section>

<!-- Filosofía Estoica -->
<section class="page-section stoic-philosophy mb-0">
  <div class="container">
    
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="philosophy-item text-center bg-faded p-5 rounded">
          <h3>¿Qué es el Estoicismo?</h3>
          <p>El estoicismo es una filosofía de vida que se enfoca en desarrollar virtudes personales como la sabiduría, el coraje, la justicia y la templanza. Nos enseña a vivir en armonía con la naturaleza y a aceptar las cosas que no podemos cambiar.</p>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="philosophy-item text-center bg-faded p-5 rounded">
          <h3>Aplicación Práctica</h3>
          <p>En <strong>Mente.Energia</strong>, proporcionamos herramientas y recursos prácticos basados en el estoicismo para ayudarte a enfrentar los desafíos diarios con calma y resiliencia. Aprende a cultivar una mente serena y a tomar decisiones con claridad y propósito.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Blog -->
<section class="page-section blog-preview mt-0">
  <div class="container">
    <h2 class="section-heading text-center mb-4">
      <span class="section-heading-upper">Nuestro</span>
      <span class="section-heading-lower">Blog</span>
    </h2>
    <div class="row">
      {% for post in posts reversed %}
      <div class="col-md-4 mb-4">
        <div class="blog-item p-5 rounded" style="background-image: url('{{ post.image_url }}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
          <h3><a href="{% url 'blog:blog_detail' pk=post.pk %}" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);">{{ post.title }}</a></h3>
          <p>{{ post.excerpt }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="text-center">
      <a class="btn btn-primary btn-xl" href="{% url 'blog:blog_list' %}">Ver Más</a>
    </div>
  </div>
</section>


<!-- Contacto -->
<section class="page-section contact ">
  <div class="container">
    <div class="intro-text text-center bg-faded p-5 rounded">
      <p>¿Tienes preguntas o quieres saber más sobre cómo <strong>Mente.Energia</strong> puede ayudarte? Estamos aquí para ayudarte. ¡Ponte en contacto con nosotros hoy mismo!</p>
      <a class="btn btn-primary btn-xl" href="{% url 'contact' %}">Contactanos</a>
    </div>
  </div>
</section>

{% endblock %}

