{% extends 'core/base.html' %}

{% load static %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="container" style="margin-top: 100px; margin-bottom: 100px;">
    <article style="background-color: #fff; padding: 80px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 class="text-center">{{ post.title|safe }}</h1>
        
        <br>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-3" style="max-width: auto; height: auto; display: block; margin: 0 auto;">
        {% endif %}
        <p style="text-align: justify;">{{ post.content | safe }}</p>
        <br>
        <br>
        <br>
        <p class="text-right">Autor: {{ post.author }} | {{ post.published|date:"d/m/Y" }}</p>
    </article>
</div>
{% endblock %}
